.details-container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 24px);
  width: calc(100vw - 48px);
  margin: 24px 24px 0 24px;
}

.details-header {
  display: flex;
  align-items: center;

  height: 32px;
  margin: 0 0 16px 0;

  font-size: 1rem;
}

.details-header > svg {
  height: inherit;

  fill: #60646b;

  cursor: pointer;
}

.details-tabs-container {
  height: calc(100% - 48px);
  width: 100%;
}

.tab-content-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;

  height: calc(100% - 32px);
  padding: 16px 12px;

  overflow-y: scroll;
}

@media screen and (min-width: 320px) and (max-width: 976px) {
  .tab-content-container {
    grid-template-columns: 1fr;
  }
}
