.details-container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.details-header {
  margin: 16px;

  font-size: 2rem;
}

.details-tabs-container {
  height: calc(100% - 70px);
}

.tab-content-container {
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns: 1fr 1fr;
}
