.user-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 24px;
  padding: 24px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.user-profile-image {
  height: 55px;
  width: 55px;
  margin-right: 16px;

  border-radius: 50%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.user-profile-image > span {
  margin-left: auto;
}
