* {
  font-family: 'Balsamiq Sans', Arial, Helvetica, sans-serif;

  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  /* background-color: #d6e3f8; */
  background-color: #fdfffc;
  color: #242f40;

  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#root {
  position: absolute;
  top: 0;

  height: inherit;
  width: inherit;
}

.info-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.info-display-container > svg {
  height: 48px;
  width: 48px;
}

/* //054a91 */
